// Primary Colors
$pr-red: hsl(1, 90%, 64%);
$pr-blue: hsl(219, 85%, 26%);

// Neutral Colors
 $white: hsl(0, 0%, 100%);
 $very-light-grayish-blue: hsl(210, 60%, 98%);
 $light-grayish-blue-1: hsl(211, 68%, 94%);
 $light-grayish-blue-2: hsl(205, 33%, 90%);
 $grayish-blue: hsl(219, 14%, 63%);
 $dark-grayish-blue: hsl(219, 12%, 42%);
 $very-dark-blue: hsl(224, 21%, 14%);

 // Font size
 $body-fs: 16px;

 // Flex mixins
 @mixin flex-row() {
    display: flex;
    flex-direction: row;
 }

 @mixin flex-col() {
    display: flex;
    flex-direction: column;
 }

 @mixin hover-blue-txt() {
    color: $pr-blue;
    cursor: pointer;
 }

 * {
    padding: 0;
    margin: 0;
 }

 body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: $body-fs;
    
 }

 .App {
    margin: 10px;
    background-color: white;
 }

 // Header styles
.header-container {
    @include flex-row();

    justify-content: space-between;
    align-items: baseline;
    margin-top: 25px;

    h1 {
        font-size: 1.4rem;

        .noti-amount {
            font-size: 1rem;
            color: $white;
            background-color: $pr-blue;
            border-radius: 5px;
            padding: 2px 10px;
        }
    }

    .mark-read {
        color: $grayish-blue;

        &:hover {
            @include hover-blue-txt();
        }
    }
}

// Feed styles
.feed-container {
    @include flex-col();

    margin-top: 20px;
    row-gap: 10px;
}

// Notification styles
@mixin notification-box() {
    border-radius: 10px;
}

.notification-container {
    @include notification-box();
    @include flex-row();
    
    padding: 10px;
    column-gap: 10px;
    


    img {
        width: 35px;
        align-self: first baseline;
    }

    .noti-content {
        
        .name {

            &:hover {
                @include hover-blue-txt();
            }
        }

        .time-since {
            color: $grayish-blue;
        }

        .action {
            color: $dark-grayish-blue;
        }


        .post {
            color: $dark-grayish-blue;

            &:hover {
                @include hover-blue-txt();
                
            }
        }

        .message {
            border: 1px solid $grayish-blue;
            border-radius: 5px;
            padding: 10px 15px 10px 10px;
            margin-top: 10px;
            color: $dark-grayish-blue;

            &:hover {
                background-color: $light-grayish-blue-1;
                cursor: pointer;
            }
        }

        .group {
            color: $pr-blue;
            cursor: pointer;
        }


        .dot {
            background-color: red;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 5px;
        }
        
    }

    .noti-image {
        

        &:hover {
            cursor: pointer;
        }
    }
}

.unread {
    background-color: $very-light-grayish-blue;
}



.attribution {
     font-size: 11px;
      text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

// Desktop View styles
@media screen and (min-width: 950px) {
    body {
        background-color: $light-grayish-blue-1;
    }

    .App {
        width: 50vw;
        margin: 30px auto;
        border-radius: 10px;
        padding: 20px;
        
    }
}